#top-button
{
    position: fixed;
    bottom: 20px;   
    right: 20px;  
    z-index: 10;

    display: flex;  
    opacity: 0;
    transform: translateY(20px);

    transition: all 0.5s ease;

    width: 15vw;
    max-width: 60px;
    height: auto;
    max-height: 60px;

    cursor: pointer; 
     
    align-items: center;
    justify-content: center;
}

#top-button.visible 
{
    opacity: 1;
    transform: translateY(0);
}

/* media settings */
/* phones */
@media (max-width: 480px) 
{
    #top-button
    {
        right: 5vw;  
        width: 25vw;
    }
}

/* medium screens */
@media (min-width: 481px) and (max-width: 1080px)
{
    #top-button
    {
        right: 3vw;  
    }
}

/* bigger screens */
@media (min-width: 1081px)
{
    #top-button
    {
        right: 1vw;  
    }
}