#popup
{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;

    display: none;
    transform: translate(-50%, -50%);

    overflow: hidden;      
    
    width: 100%;    
    max-width: 1000px; 
    max-height: 600px;

    border: 10px solid #117864;
    border-radius: 8px;
    box-shadow: 10px 10px 35px -10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box; 
    
    background-color: #ebf5fb;
}

#popup, #popup h3, #popup .button-container
{
    text-align: center;
}

#popup p
{
    margin-bottom: 10px;
}

#popup a
{
    color: #117864;
}

#popup label
{
    display: inline-flex;
}

#popup span
{
    margin-top: 9px;
}

#popup .button-container
{
    margin: 20px;
}

.button-container #back
{
    position: relative;
    margin-right: 200px;
}

.disabled 
{
    opacity: 0.5;
    pointer-events: none;
}

#overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    display: none;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.7);
}

/* media settings */
/* phones and medium screens */
@media (max-width: 767px) 
{
    #popup
    {
        width: 400px;
        height: 500px;
        max-width: 600px; 
        max-height: 600px;
    }

    #popup span
    {
        margin-top: 12px;
        font-size: 16px
    }

    .button-container #back
    {
        margin-right: 50px;
    }
}

/* tablets and other slightly bigger srceens */
@media (min-width: 768px) and (max-width: 1024px) 
{
    #popup
    {
        width: 600px;
        height: 600px;
        max-width: 800px; 
        max-height: 600px;
    }

    #popup span
    {
        margin-top: 12px;
        font-size: 16px
    }

    .button-container #back
    {
        margin-right: 100px;
    }
}

/* big screens */
@media (min-width: 1025px) 
{ 
    #popup
    {
        max-width: 1000px; 
        max-height: 600px;
    }
}